{erl_opts, [
	debug_info,
 	{parse_transform, lager_transform}
]}.
{deps, [
	{cowboy, "1.0.4"}
	,{lager, "3.2.1"}
	,{inaka_emysql, "0.4.4"}
	,{mcd, {git, "https://github.com/EchoTeam/mcd.git"}}
]}.

{relx, [{release, { stellar, "0.1.0" },
         [stellar,
          sasl,
	  {mcd, load}]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
